.dynamicTable {
    border-collapse: collapse;
}

.dynamicTable thead th {
    background-color: #f1f1f1;
    text-align: center;
    padding: 2px !important;
}

.dynamicTable th:last-child, .dynamicTable td:last-child {
    width: 50px;
    text-align: center;
}

.dynamicTable th, .dynamicTable td {
    border: 1px solid silver;
}

.dynamicTable .template {
    display: none;
}

.dynamicTable tfoot td {
    padding: 2px !important;
}

.dynamicTable .btnAddRow, .btnDelRow {
    padding: 0px 6px !important;
    font-size: 17px;
}