#checkWarranty, #result{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#result table{
    width: 100%;
}

#result{
    margin-top: 20px;
}

#result span.label{
    font-size: 110% !important;
}

#result table th{
    width: 200px;
    background: #f5f5f5;
}

#result table th, td{
    border: 1px solid silver;
}

#declareProductForm, #updateProductForm{
    padding: 15px !important;
}