#callCenterContainer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 0px;
    overflow: visible;
    z-index: 1050;
}

#callCenterContainer * {
    transition: all .3s ease;
}

#callCenterContainer .inputElement,
#callCenterContainer .inputElement * {
    transition: none;
}

#callCenterContainer .call-popups {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    max-width: 100%;
    align-items: flex-end;
}

#callCenterContainer .call-popups.fancyScrollbar {
    overflow-x: auto;
}

#callCenterContainer .call-popups.fancyScrollbar::-webkit-scrollbar {
    height: 10px !important;
}

#callCenterContainer .call-popups.fancyScrollbar::-webkit-scrollbar-track-piece {
    background:rgba(214, 218, 220, 0.3) !important;
}

.call-popup {
    min-width: 220px;
    max-width: 220px;
    height: 310px;
    background: #ecf5fc;
    box-shadow: 1px 1px 8px #aaa;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 10px;
    border: 1px solid #cacaca;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.call-popup[data-stage="CLOSE"]:after {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: absolute;
    content: '\f0ac';
    z-index: 0;
    opacity: .07;
    font-size: 400px;
    left: 20px;
    top: 30px;
    color: #2a7fb8;
}

.call-popup label {
    cursor: pointer;
}

.call-popup .disabled {
    cursor: not-allowed;
}

.call-popup:not(.active) {
    height: 0px !important;
    width: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    overflow: hidden !important;
}

.call-popup > * {
    flex: 1;
}

.call-popup .timepicker-default[disabled]:hover {
    border: none !important;
}

/* START SHOW HIDE FEATURE ONLY FOR CONTACT */
.call-popup:not([data-customer-type="Contacts"]) .contactsOnly{
    display: none !important;
}
/* END SHOW HIDE FEATURE ONLY FOR CONTACT */

/* CUSTOM STYLE FOR POPUP ACTION BUTTONS */

.call-popup .popup-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #1e72ab;
}

.call-popup .popup-actions button {
    background: transparent;
    border: none;
    font-size: 12px;
    margin: 0px;
    padding: 3px 11px;
}

.call-popup .popup-actions button[name="close"] {
    background: #c13e2c;
}

.call-popup .popup-actions button:not(:last-child) {
    border-right: 1px solid #3285bf;
}

/* END CUSTOM STYLE FOR POPUP ACTION BUTTONS*/

.call-popup[data-size="SMALL"] {
    min-width: 380px;
    height: 30px;
}

.call-popup[data-size="MEDIUM"] {
    min-width: 460px;
    max-width: 460px;
    height: 400px;
}

.call-popup[data-size="LARGE"] {
    min-width: 680px;
    height: 500px;
}

.call-popup .call-header .cir-ava {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for Call Center Header Block Behavior */

.call-popup .call-header {
    display: grid;
    grid-template-areas:
        'customer-avatar'
        'customer-summary'
        'call-status';
    z-index: 1;
}

.call-popup .call-header .customer-avatar {
    grid-area: customer-avatar;
}

.call-popup .call-header .customer-summary {
    grid-area: customer-summary;
    width: 100%;
}

.call-popup .call-header .call-status {
    grid-area: call-status;
    padding-top: 12px;
}

.call-popup .call-header .customer-avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.call-popup .call-header .cir-ava {
    border-color: #5f5f62;
}

.call-popup .call-footer {
    flex: unset;
    padding: 16px 6px;
}

.call-popup button {
    margin: 0px 5px;
}

/* Handle template for ringing status */

.call-popup[data-stage="CLOSE"] .call-header .customer-summary .info-company:not(.close-stage) {
    display: none;
}

.call-popup[data-stage="CLOSE"] .call-header .call-status {
    display: none;
}

.call-popup[data-stage="CLOSE"] .call-header .assign {
    display: none;
}

.call-popup[data-stage="CLOSE"] .call-header {
    grid-template-areas: 'customer-summary' 'customer-avatar';
}

/* Ringing header style */
.call-popup[data-stage="CLOSE"] .customer-summary {
    text-align: center;
}

.call-popup[data-stage="CLOSE"] .call-body {
    display: none;
}

.call-popup[data-stage="CLOSE"] .call-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.call-popup[data-stage="CLOSE"] .call-footer button[name="save_call_log_with_ticket"],
.call-popup[data-stage="CLOSE"] .call-footer button[name="save_call_log"] {
    display: none;
}

.call-popup .info-name {
    font-size: 20px;
    color: #297fb8;
    margin-top: 32px;
    line-height: 1.3em;
    max-height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.call-popup .call-header .info-company {
    line-height: 1.3em;
    max-height: 2.6em;
}

.call-popup .info-title {
    display: none;
}

.call-popup .info-number {
    font-size: 14px;
}

.call-popup .info-call-status {
    font-size: 12px;
}

.call-popup .info-call-direction {
    font-size: 14px;
}

/* Custom Style for button */

.call-popup .btn {
    font-size: 13px;
    padding: 3px 9px;
}

/* STYLE FOR ANSWERED AND NORMAL SIZE*/
.call-popup[data-stage="OPEN"] .abs-animate {
    display: none;
}

.call-popup[data-stage="OPEN"] .cc-animate {
    animation: none;
}

.call-popup[data-stage="OPEN"] .call-header .cir-ava {
    border-color: white;
}

.call-popup[data-stage="OPEN"] .call-header {
    grid-template-areas:
        'customer-avatar customer-summary call-status';
    grid-template-columns: 74px auto 130px;
    background-color: #3598db;
    padding: 10px;
    flex: unset;
    justify-content: stretch;
    grid-gap: 10px;
}

.call-popup[data-stage="OPEN"] .call-header * {
    color: white;
}

.call-popup[data-stage="OPEN"] .call-header .customer-avatar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.call-popup[data-stage="OPEN"] .call-header .info-name {
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: bold;
}

.call-popup[data-stage="OPEN"] .call-header .info-number {
    margin-top: 4px;
    margin-bottom: 3px;
}

.call-popup[data-stage="OPEN"] .call-header .info-call-direction {
    display: none;
}

.call-popup[data-stage="OPEN"] .call-header .info-company {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 3px;
}

.call-popup[data-stage="OPEN"] .call-header .assign {
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 12px;
}

.call-popup[data-stage="OPEN"] .call-header .assign * {
    font-size: 14px;
}

.call-popup[data-stage="OPEN"] .call-header .assign i {
    font-size: 13px;
}

.call-popup[data-stage="OPEN"] .call-header .assign .ext-num {
    font-style: italic;
}

.call-popup[data-stage="OPEN"] .call-header .assign .ext-num:not(:empty):before {
    content: '(';
}

.call-popup[data-stage="OPEN"] .call-header .assign .ext-num:not(:empty):after {
    content: ')';
}

.call-popup[data-stage="OPEN"] .call-footer button[name="close"] {
    display: none;
}

.call-popup[data-stage="OPEN"] .call-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px;
    border-top: 1px solid #aaa;
}

.call-popup .quickcreate-btns {
    display: none;
}

.call-popup[data-stage="OPEN"] .quickcreate-btns {
    display: block;
    flex: 1;
    padding-left: 5px;
}

/* Animation */

.abs-animate {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.animate-cir {
    border: 2px solid #aeaeb0;
    border-radius: 50%;
    z-index: 0;
}

.cc-animate {
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
}

.color-bound {
    animation-name: colorBound;
}

.border-bound {
    animation-name: borderBound;
}

.callCenter.popup-animate {
    animation-duration: 0.5s;
    animation-name: popUp;
    animation-timing-function: ease-out;
}

@keyframes borderBound {
    from {
        width: 90px;
        height: 90px;
        border-color: #aeaeb0;
    }
    to {
        width: 180px;
        height: 180px;
        border-color: transparent;
    }
}

@keyframes colorBound {
    0% {
        border-color: #5f5f62;
    }
    25% {
        border-color: #aeaeb0;
    }
    75% {
        border-color: #5f5f62;
    }
}

@keyframes popUp {
    from {
        height: 0px;
    }
    to {
        height: 280px;
    }
}

/* Handle phone animate*/

.fa-ava.shake-animate::before {
    animation-name: shake;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    /*     animation-direction: alternate-reverse; */
    animation-timing-function: ease-in-out;
    /*     transform: rotate(135deg); */
}

@keyframes shake {
    10% {
        transform: rotate(17deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.call-popup .timer .time, .call-popup .timer .time-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.call-popup .timer .time > *, .call-popup .timer .time-description > * {
    text-align: center;
    line-height: 1em;
}

.call-popup[data-stage="OPEN"] .call-direction {
    text-align: center;
    margin: 4px 0px;
    margin-top: 8px;
}

.call-popup[data-stage="OPEN"] .connection-status {
    text-align: center;
    font-size: 13px;
    margin: 2px 0px;
    margin-bottom: 1px;
}

.call-popup .timer .time-description > * {
    font-size: 10px;
    opacity: .8;
}

.call-popup[data-stage="OPEN"] .timer {
    padding: 0px 14px;
}

.call-popup .timer .time > * {
    font-size: 20px;
    position: relative;
}

.call-popup .timer .time > *:not(:last-child):after {
    content: ':';
    position: absolute;
    right: -3px;
    top: 50%;
    margin-top: -.5em;
}

.call-popup[data-stage="OPEN"] .connection-status > i {
    /* font-size: 10px; */
    color: #ccc;
}

.call-popup[data-stage="OPEN"] .connection-status > i.active {
    color: #33b733;
}

.call-popup[data-size="MEDIUM"] .popup-actions button[name="normalmize"],
.call-popup[data-size="MEDIUM"] .popup-actions button[name="restore"] {
    display: none;
}

.call-popup[data-size="LARGE"] .popup-actions button[name="maximize"],
.call-popup[data-size="LARGE"] .popup-actions button[name="restore"] {
    display: none;
}

/* [START] HANDLE CALL TABS BASE BEHAVIOR */
.call-tabs {
    margin: 0px;
    padding: 0px;
}

.call-tabs > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.call-tab-pane:not(.active) {
    display: none !important;
}
/* [END] HANDLE CALL TABS BASE BEHAVIOR */

/* [START] HANDLE CALL TABS BEHAVIOR */
.call-popup .call-tabs {
    background: #3598db;
    color: white;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 27px;
}

.call-popup .call-tabs.fancyScrollbar::-webkit-scrollbar {
    height: 4px !important;
}

.call-popup .call-tabs > * {
    padding: 4px 6px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    /* border-right: 1px solid #ecf5fc; */
}

.call-popup .call-tabs > *.active {
    /* border-bottom: 2px solid #ffffff; */
    background: #1e72ab;
}
/* [END] HANDLE CALL TABS BEHAVIOR */

/* [START] HANDLE CALL MAIN CONTENT SCROLL */
.call-popup .main-form {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    /* padding: 10px; */
    background: white;
}

.call-popup .call-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.call-popup .main-form-container {
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    max-height: calc(100% - 27px);
}
/* [END] HANDLE CALL MAIN CONTENT SCROLL */

/* [START] STYLE FOR CALL BACK LATER ELEMENTS */
.call-popup .call-back-time .time {
    width: 96px;
    min-width: 96px;
    margin-right: 6px;
    margin-bottom: 3px;
}

.call-popup .call-back-time .time input {
    height: 100%;
    width: 100%;
}

.call-popup .call-back-time {
    margin-bottom: 8px;
}

.call-popup .call-back-time-other-toggle {
    display: inline-block;
    height: 30px;
    width: 96px;
    margin-right: 6px;
    vertical-align: top;
}

.call-popup .call-back-time-other-content {
    display: inline-block;
}
/* [END] STYLE FOR CALL BACK LATER ELEMENTS */

.call-popup .wraper.note {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* box-shadow: 1px 1px 2px #bfbfbf; */
    position: relative;
    background: white;
    z-index: 2;
}

.call-popup .wraper.note .call-center-note {
    border: none;
    border-radius: 1px;
    resize: none;
    flex: 1;
    width: 100% !important;
    padding: 8px;
    color: #777;
    border-bottom: 1px solid #e4e4e4;
}

.call-popup .wraper.note .call-center-note::-webkit-scrollbar {
    width: 5px;
}

.call-popup .wraper.note .call-center-note::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 2px;
}

.call-popup .wraper.note .call-center-title {
    border: none;
    border-radius: 1px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e4e4e4;
    padding: 6px 8px;
    font-size: 15px !important;
    color: #666;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.call-popup .wraper.note .call-center-title::-webkit-input-placeholder,
.call-popup .wraper.note .call-center-note::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaa;
}

.call-popup .wraper.note .call-center-title::-moz-placeholder,
.call-popup .wraper.note .call-center-note::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa;
}
.call-popup .wraper.note .call-center-title:-ms-input-placeholder,
.call-popup .wraper.note .call-center-note:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa;
}
.call-popup .wraper.note .call-center-title:-moz-placeholder,
.call-popup .wraper.note .call-center-note:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa;
}

/* [START] HANDLE HOW SMALL SIZE LOOK */
.call-popup[data-size="SMALL"] [name="minimize"],
.call-popup[data-size="SMALL"] [name="maximize"],
.call-popup[data-size="SMALL"] [name="normalmize"] {
    display: none;
}

.call-popup[data-size="SMALL"] .call-header {
    padding: 0px 8px;
    display: flex;
    /* height: 100%; */
}

.call-popup[data-size="SMALL"] .call-header .customer-avatar,
.call-popup[data-size="SMALL"] .call-header .call-status > *:not(.popup-actions),
.call-popup[data-size="SMALL"] .call-header .customer-summary > *:not(.info-title) {
    display: none;
}

.call-popup[data-stage="OPEN"][data-size="SMALL"] .call-header .info-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 0px;
    padding: 8px 0px;
    max-width: 80%;
}

.call-popup[data-size="SMALL"] .popup-actions button {
    padding: 6px 13px;
}
/* [END] HANDLE HOW SMALL SIZE LOOK */

/* [START] HANDLE CREATE CUSTOMER AND QUICK CREATE BEHAVIOR */
.call-popup[data-identified="false"] .quickcreate-btns .quickcreate-related{
    display: none;
}

.call-popup[data-identified="true"] .quickcreate-btns .quickcreate-customer{
    display: none;
}

.call-popup[data-identified="undefined"] [data-tab="call-list"],
.call-popup[data-identified="undefined"] .quickcreate-btns > * {
    display: none;
}
/* [END] HANDLE CREATE CUSTOMER AND QUICK CREATE BEHAVIOR */

/* [START] HANDLE SYNC CUSTOMER INFO POUP STYLE HAND BEHAVIOR */
.syncCustomerPopup .modal-header {
    border-bottom: 1px solid #333;
}

.syncCustomerPopup .call-tabs {
    background: white;
    border-bottom: 1px solid #999;
}

.syncCustomerPopup .call-tabs .call-tab {
    color: black;
    padding: 6px 10px;
    padding-bottom: 3px;
    cursor: pointer;
}

.syncCustomerPopup .call-tabs .call-tab.active {
    border-bottom: 3px solid #555;
}

.syncCustomerPopup .create-customer-container {
    height: 400px;
}

.syncCustomerPopup .new-customer {
    height: 100%;
}

.syncCustomerPopup .new-customer form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.syncCustomerPopup form .form-content {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    padding-top: 20px;
    height: 100%;
}

.syncCustomerPopup .call-tab-pane,
.syncCustomerPopup form[name="search_customer"] {
    height: 100%;
}

.syncCustomerPopup form .fieldValue label {
    cursor: pointer;
}

.syncCustomerPopup .toggleBaseOnContact:not(.active) {
    display: none;
}

.syncCustomerPopup .fieldLabel.salutationtype .select2-container {
    width: 90px;
    margin-left: 6px;
}

.syncCustomerPopup .fieldBlockContainer .fieldLabel {
    text-align: right;
}

.syncCustomerPopup .fieldValue.name > input {
    display: inline-block;
}

.syncCustomerPopup .fieldValue.name > input[name="firstname"] {
    width: 100px;
    margin-right: 6px;
}

.syncCustomerPopup .fieldValue.name {
    display: flex;
    justify-content: flex-start;
}

.syncCustomerPopup
 .toggleBaseOnContact > td {
    background: unset !important;
}
/* [END] HANDLE SYNC CUSTOMER INFO POUP STYLE HAND BEHAVIOR */

.call-popup .urgent-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    z-index: 10;
    border-radius: 50%;
    background-color: #f19191;
    color: white;
    cursor: pointer;
    border: none;
    margin: 0px;
}

.call-popup .urgent-close:not(.active) {
    display: none !important;
}

/* [START] HANDLE SAVE CALL LOG BUTTONS SHOW HIDE DUE TO CURRENT ACTIVE TAB */
.call-popup:not([data-call-tab-active="call-log"]) .saveLogBtn {
    display: none !important;
}
/* [END] HANDLE SAVE CALL LOG BUTTONS SHOW HIDE DUE TO CURRENT ACTIVE TAB */

/* [START] HANDLE SHOW HIDE LOGIC WITH CALL RESULT */
.call-popup:not([data-call-result="call_result_call_back_later"]) .toggleCallResultCallBack {
    display: none !important;
}


.call-popup:not([data-call-result="call_result_customer_interested"]) .toggleCallResultCustomerInterested {
    display: none !important;
}
/* [START] HANDLE SHOW HIDE LOGIC WITH CALL RESULT */

/* [START] HANDLE CALL TAB CONTENT DISPLAY */
.call-popup .related-tab,
.call-popup .faq-tab {
    display: flex;
    max-height: 100%;
    width: 100%;
    background: white;
}

.call-popup .call-tab-empty .content,
.call-popup .related-list-no-data,
.call-popup .faq-tab-empty .content,
.call-popup .faq-list-no-data {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    color: #777;
    border: 1px dashed #333;
}

.call-popup .call-tab-pane .call-tab-loading {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #999;
}

.call-popup .call-tab-pane:not([data-status="SUCCESS"]) .call-tab-content {
    display: none !important;
}

.call-popup .call-tab-pane:not([data-status="ERROR"]) .call-tab-empty {
    display: none !important;
}

.call-popup .call-tab-pane:not([data-status="LOADING"]) .call-tab-loading {
    display: none !important;
}

.call-popup .call-tab-pane .call-tab-content,
.call-popup .call-tab-empty,
.call-popup .faq-tab-content {
    overflow: auto;
    padding: 8px;
    width: 100%;
}

.call-popup .call-tab-pane .call-tab-content table.related-list {
    width: 100%;
}

.call-popup .call-tab-pane .call-tab-content table.related-list a {
    /* text-decoration: underline !important; */
    color: #2a6496;
}

.call-popup .call-tab-pane .call-tab-content table.related-list a:hover {
    text-decoration: underline !important;
}

.call-popup .call-tab-pane .call-tab-content table.related-list th,
.call-popup .call-tab-pane .call-tab-content table.related-list td {
    border: 1px solid #ccc;
    padding: 6px;
}

.call-popup .call-tab-pane .call-tab-content table.related-list th {
    white-space: nowrap;
    background: #ecf5fc;
}

.call-popup .call-tab-pane .call-tab-content table.related-list td {
    /* white-space: nowrap; */
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.call-popup .call-tab-pane .call-tab-content table.related-list th.subject,
.call-popup .call-tab-pane .call-tab-content table.related-list td.subject {
    min-width: 200px;
}

.call-popup .call-tab-pane .call-tab-content table.related-list td.date_start {min-width: 150px;}

.call-popup .call-tab-pane .call-tab-content table.related-list td.description {
    min-width: 200px;
}

.call-popup .call-tab-pane .call-tab-content table.related-list th.eventstatus,
.call-popup .call-tab-pane .call-tab-content table.related-list td.eventstatus {
    min-width: 100px;
}

.call-popup .call-tab-pane .call-tab-content table.related-list td.assigned_user_id {
    min-width: 150px;
}

.call-popup .call-tab-pane .call-tab-content table.related-list td.createdtime {
    min-width: 150px;
}
/* [END] HANDLE CALL TAB CONTENT DISPLAY */

/* [START] HANDLE FAQ TAB DISPLAY */

.call-popup .faq-tab-content {
    display: flex;
    flex-direction: column;
}

.call-popup .faq-tab .filter-form {
    margin-bottom: 8px;
}

.call-popup .faq-tab .filter-form .table {
    margin: 0px;
}

.call-popup .faq-tab .filter-form .fieldValue {
    padding: 0px;
}

.call-popup .faq-tab .faq-result-display {
    height: 100%;
}

.call-popup .faq-result-display:not([data-status="SUCCESS"]) .faq-tab-result-content {
    display: none !important;
}

.call-popup .faq-result-display:not([data-status="ERROR"]) .faq-tab-empty {
    display: none !important;
}

.call-popup .faq-result-display:not([data-status="LOADING"]) .faq-tab-loading {
    display: none !important;
}

.call-popup .faq-result-display .faq-tab-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    color: #999;
}

.call-popup .faq-result-title {
    font-size: 14px;
    margin: 4px 0px;
    margin-bottom: 12px;
    color: #666;
}

.call-popup .faq-tab-result-content .faq-list > ul {
    padding: 0px;
    margin: 0px;
}

.call-popup .faq-tab-result-content .faq-list > ul li a {
    color: #1f71ab;
    font-size: 16px;
    line-height: 1.3em;
    display: inline-block;
    /* margin-bottom: 6px; */
    max-height: 3.9em;
    overflow: hidden;
}

/* [END] HANDLE FAQ TAB DISPLAY */

/* [START] HANDLE FAQ SEARCH FULL POPUP STYLE */
#faqListViewTable .fieldLabel.number {
    width: 10px !important;
}

#faqListViewTable .fieldValue.question {
    width: auto !important;
}
/* [END] HANDLE FAQ SEARCH FULL POPUP STYLE */

/* [START] HANDLE FAQ SERCH FULL POPUP BEHAVIOR */
.call-popup:not([data-call-tab-active="faq-list"]) .openFaqFullSearchPopup {
    display: none !important;
}

.call-popup-search-faq-full:not([data-mode="SEARCH"]) .modal-content.faq-search {
    display: none !important;
}

.call-popup-search-faq-full:not([data-mode="DETAIL"]) .modal-content.faq-detail {
    display: none !important;
}

/* .modal-content.faq-search .modal-body {
    height: 460px;
    max-height: 460px;
    overflow: auto;
} */
/* [END] HANDLE FAQ SERCH FULL POPUP BEHAVIOR */

/* [START] HANDLE HOW CALL TAB COUNTER ACT */
.call-popup .call-body .call-tab {
    position: relative;
}

.call-popup .call-body .call-tab .counter {
    position: relative;
    top: -6px;
    right: -2px;
    display: inline-block;
    background: #c13e2c;
    padding: 0px 4px;
    border-radius: 4px;
    font-size: 12px;
}

.call-popup .call-body .call-tab .counter:empty {
    display: none;
}
/* [END] HANDLE HOW CALL TAB COUNTER ACT */

/* [START] SUPPORT HANDLE HOW MAIN FORM LOOK LIKE WITH SIZE LARGE */
.call-popup .inlineOnLarge.active {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}

.call-popup .toggleCallResultCustomerInterested .fieldValue.name > *:not(:last-child) {
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
}

.call-popup .inputGroup .inputElement:not(:last-child) {
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
}

.call-popup[data-size="LARGE"] .toggleCallResultCustomerInterested .fieldValue.name .inputElement.select2 {
    width: 96px !important;
}

.call-popup form[name="call_log"] .fieldLabel {
    min-width: 105px;
}

.call-popup:not([data-customer-type="Contacts"]) .saveLogBtn[name="save_call_log_with_ticket"]{
    display: none !important;
}
/* [END] SUPPORT HANDLE HOW MAIN FORM LOOK LIKE WITH SIZE LARGE */

/* [START] HANDLE FAQ SEARCH DATA TABLE */
.call-popup-search-faq-full .dataTables_scrollHeadInner {
    width: 100% !important;
}

.call-popup-search-faq-full table.table.table-striped.table-bordered.dataTable.no-footer {
    width: 100% !important;
}
/* [END] HANDLE FAQ SEARCH DATA TABLE */

/* [START] HANDLE HOW ACCOUNT NAME DISPLAY */
.call-popup:not([data-stage="CLOSE"]) .call-header .customer-summary .info-company.close-stage {
    display: none;
}

.call-popup .call-header .customer-summary .info-company.close-stage {
    font-size: 16px;
    padding: 0px 4px;
    max-height: 3.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* [START] HANDLE HOW ACCOUNT NAME DISPLAY */

/* [START] COMMON CONTACT LEAD VISUAL BEHAVIOR HANDLE */
.call-popup:not([data-customer-type="Contacts"]) .forContacts {
    display: none !important;
}

.call-popup:not([data-customer-type="Leads"]) .forLeads {
    display: none !important;
}

.call-popup:not([data-customer-type]) .forContacts.forDefault,
.call-popup:not([data-customer-type]) .forLeads.forDefault {
    display: inherit !important;
}
/* [END] COMMON CONTACT LEAD VISUAL BEHAVIOR HANDLE */

.call-popup[data-size="LARGE"] form.callLog [name="firstname"] {
    width: 120px;
}

.call-popup[data-size="LARGE"] form.callLog [name="lastname"] {
    width: 220px;
}

.call-popup[data-size="LARGE"] form.callLog .product_ids .select2-container,
.call-popup[data-size="LARGE"] form.callLog .service_ids .select2-container {
    display: inline-block;
    width: 514px;
    margin: 0px;
}

.call-popup[data-size="LARGE"] form.callLog [name="account_id_display"],
.call-popup[data-size="LARGE"] form.callLog [name="company"] {
    width: 100%;
}

.call-popup .input-group.account_id {
    width: 230px;
}

.call-popup[data-size="LARGE"] .input-group.account_id {
    width: 481px;
}

.call-popup .forLeads {
    display: inline-block;
}

/* [START] STYLE SELECT TIME FIELD */
.call-popup .main-form .input-group.select-time [role="presentation"] {
    display: none;
}

.call-popup .main-form .call-back-time .input-group {
    height: 30px;
    margin: 0px;
    margin-right: 6px;
    box-sizing: border-box;
    min-width: auto;
    width: 80px;
    margin-bottom: 6px;
}

.call-popup .main-form .call-back-time .input-group .select2-container {
    width: 80px;
}

.call-popup .main-form .call-back-time .input-group .select2-choice {
    border: none;
    height: 100%;
}

.call-popup .main-form .call-back-time .input-group .select2-chosen {
    margin: 0px;
}

.call-popup .main-form .call-back-time .input-group .input-group-addon {
    border-left: 1px solid #ccc;
}

.call-popup .main-form .input-wraper.select-moment .select2-choice {
    height: 30px;
}

.call-popup .main-form .input-wraper.select-moment .select2-container {
    width: 140px;
}

.call-popup .main-form .input-wraper.select-moment .select2-chosen {
    margin: 0px;
}

.call-popup .main-form .input-wraper.time-start,
.call-popup .main-form .input-wraper.date-start {
    width: 155px;
    min-width: unset;
}

.call-popup[data-size="LARGE"] .main-form .input-wraper.time-start {
    width: 110px;
    min-width: 110px;
}

.call-popup[data-size="LARGE"] .main-form .input-wraper.date-start {
    width: 120px;
    min-width: 120px;
}
/* [END] STYLE SELECT TIME FIELD */

/* [START] HANDLE MAIN FORM STYLE */

.call-popup .main-form .fieldLabel {
    width: 130px !important;
}

/* [END] HANDLE MAIN FORM STYLE */

/* HANDLE SHOW HIDE FOR INBOUND/OUTBOUND ELEMENT */
.call-popup:not([data-direction="INBOUND"]) .forInbound {
    display: none !important;
}

.call-popup:not([data-direction="OUTBOUND"]) .forOutbound {
    display: none !important;
}
/* [END] HANDLE SHOW HIDE FOR INBOUND/OUTBOUND ELEMENT */

.call-popup .field-value-wraper.events_call_direction {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    border-bottom: 1px solid;
    margin: auto;
}

.call-popup .field-value-wraper.events_call_direction i {
    transform: rotate(45deg);
    font-size: 15px;
}

.call-popup td.related-item.events_call_direction {
    text-align: center;
}

.call-popup .field-value-wraper.events_call_direction {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    border-bottom: 2px solid;
    margin: auto;
}

.call-popup .field-value-wraper.events_call_direction i {
    transform: rotate(45deg);
    font-size: 15px;
}

.call-popup td.related-item.events_call_direction {
    text-align: center;
}

.call-popup .field-value-wraper.events_call_direction.Outbound {
    color: #007bff;
}

.call-popup .field-value-wraper.events_call_direction.Inbound {
    color: #28a745;
}

.call-popup .faq-tab-result-content .faq-list li {
    margin-bottom: 6px;
}

.call-popup .faq-tab-result-content .faq-list li .short-answer {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#faqListViewTable .faq-link { 
    color: #2a6496;
}

#faqListViewTable .short-answer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 820px;
    margin: 0px;
}
.call-popup .faq-tab-result-content .faq-list li {
    margin-bottom: 6px;
}

.call-popup .faq-tab-result-content .faq-list li .short-answer {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#faqListViewTable .faq-link { 
    color: #2a6496;
}

#faqListViewTable .short-answer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 820px;
    margin: 0px;
}

.displayOnEmail .email-tip {
    color: #007bff;
}
