<?php

// Added by Hieu Nguyen on 2019-04-01
// Run this query to register the scheduler: INSERT INTO `vtiger_cron_task`(`name`, `handler_file`, `frequency`, `laststart`, `lastend`, `status`, `module`, `sequence`, `description`) VALUES ('EventReminder', 'cron/modules/Events/SendReminderMsg.service', 60, NULL, NULL, 1, 'Events', 8, 'Recommended frequency for EventsReminder is 1 mins');
vimport('includes.runtime.Globals');
require_once('modules/Events/models/Service.php');
Events_Service_Model::sendReminderMsg();