.tab-content a {
    text-decoration: underline !important;
}

#social-channels tbody tr:not(:last-child) {
    border-bottom: 1px solid #f3f3f3;
}

#social-channels .add-item-placeholder {
    float: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#social-channels .channel-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 2px;
}

#social-channels .channel-item:hover {
    border-color: #ccc;
    background-color: #f6fbff;
}

#social-channels .channel-item .row.info {
    flex: 1;
    margin: 0px;
    /* margin-top: 4px; */
}

#social-channels .channel-item .avatar {
    width: 50px;
    border-radius: 50%;
    border: 1px solid #f3f3f3;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
}

form .form-group .input-group {
    width: 100%;
}

form #permissions .form-group .fieldLabel {
    width: 25% !important;
    word-break: normal;
}

form #permissions .form-group .fieldValue {
    width: 40% !important;
}

/* Added by Phu Vo on 2019.07.11*/
.settingsPageDiv .nav-tabs > li a {
    color: #666;
    text-decoration: none !important;
}

.fieldBlockContainer hr {
    margin-bottom: 0px;
}

/* .add-item-placeholder > a {
    text-decoration: none !important;
    padding: 4px 8px;
    border: 1px solid #444;
    border-radius: 10em;
    color: #000;
    background: #efefef;
}

.add-item-placeholder > a:hover {
    background: rgb(46, 159, 191);
    color: white;
    transition: all .1s linear;
} */

#social-channels tbody tr > td:first-child > *,
#social-channels tbody tr > td:last-child > * {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#social-channels thead tr {
    border-bottom: 1px solid #f3f3f3;
}

#social-channels thead tr th {
    font-size: 14px;
}

.zaloOAForm-content {
    padding: 15px;
}

.lead-generation-content-table thead tr {
    border-bottom: 1px solid #f3f3f3;
}

.lead-generation-content-table {
    width: 100%;
}

.lead-generation-content-table tr th {
    padding: 10px 6px;
}

.lead-generation-content-table tr td {
    padding: 14px 6px;
}

.lead-generation-content-table .keyword {
    display: inline-block;
    margin: 4px 6px 4px 0px;
    padding: 2px 6px;
    border: 1px solid #666;
    border-radius: 10em;
    background-color: #f1f1f1;
}

.lead-generation-content-table .keyword:before {
    content: '\00B7';
    font-size: 30px;
    line-height: 1rem;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.lead-generation-content-table .add-keyword {
    display: inline-block;
    margin: 4px 6px 4px 0px;
    padding: 2px 6px;
    border: 1px solid transparent;
    border-radius: 10em;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.lead-generation-content-table .add-keyword:hover {
    color: #15c;
}

.select2-container .select2-choice {
    text-decoration: none !important;
}

.select2-container.convert-option.select2 {
    height: 30px !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    cursor: default;
}

#social-channels tbody tr > td .bootstrap-switch-wrapper {
    margin-left: 10px;
    margin-top: 34px;
}

#social-channels .channel-item .row span a {
    display: inline-block;
}

.item-actions.row > *:not(:last-child) {
    margin-right: 10px;
}

.item-actions.row input[type="checkbox"] {
    margin: 0px;
    margin-right: 4px;
    cursor: pointer;
    margin-bottom: -3px;
}

.item-actions.row label {
    cursor: pointer;
    font-weight: normal;
}

.item-actions.row label:hover {
    color: #15c;
}

.item-actions.row {
    margin: 0px;
}

#social-channels .channel-item .row.info > * {
    margin-bottom: 5px;
}

#social-channels .channel-item .avatar-wraper {
    padding-right: 14px;
}

#social-channels .channels-wraper {
    margin-top: 20px;
    margin-bottom: 20px;
}

#social-channels .channels-wraper > img {
    margin-right: 6px;
}

#social-channels .channel-item .oa-name {
    font-weight: bold;
}

#social-channels .channel-item .followers-count > span {
    font-weight: bold;
}

#social-channels .channel-item .oa-expiry-date {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding-top: 4px;
}

div.item-list {
    margin-top: 0px !important;
}
/* End Added by Phu Vo*/